body{
  text-align: center;
}
.reg{
  width: 130px;
  height: 30px;
  border: solid black;
  background-color: yellow;
  border-radius: 1em;
}
/* .btn{
  margin-left: 30px;
} */
  span{
    display:inline-block;
    width: 120px;
    font-size: 120%;
    font-weight: bold;
    color: white;
    border: 2px solid black;
    border-radius: 15px;
    background-color: orange;
    padding:5px;
    margin: 2px;


}
.box{
  padding: 0.75em;
  border-radius : 0.5em;
  border : 1px solid #ddd;
  height: auto;
  margin-bottom: 1em;
}
.button{
  margin: 1em;
}
/* .towns{
  border: 1px solid black;
} */
 .content{
  width: 98%;
  margin-left: 1em;
}

/* ul{
  style="list-style-type:none"
} */
