body{
  text-align: center;
}
.reg{
  width: 130px;
  height: 30px;
  border: solid black;
  background-color: yellow;
  border-radius: 1em;

}
  span{
    display:inline-block;
    width: 120px;
    font-size: 120%;
    font-weight: bold;
    color: white;
    border: 2px solid black;
    border-radius: 15px;
    background-color: orange;
    padding:7px;
    margin: 2px;

}
.box{
  width: 90%
  padding: 0.75em;
  border-radius : 0.5em;
  border : 3px solid #ddd;
  /* height: auto; */
  margin-top: 1em;
  margin: 2em;
}
.button{
  margin: 1em;
}
/* .towns{
  border: 1px solid black;
} */
 .content{
  width: 98%;
  margin-left: 1em;
}
@media (min-width: 750px) {
  .box{
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin-top: 50px;
    margin: 1em;

  }

}
/* ul{
  style="list-style-type:none"
} */
